@model DanceStudio.Models.GroupMember

@{
    ViewData["Title"] = "Create";
}

<br/>
<p class="title is-1 is-spaced">Create</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>&nbsp;
                <br/>
                <div class="select is-primary">
                    <select asp-for="GroupId" class ="select is-primary" asp-items="ViewBag.GroupId"></select>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <br/>
                <div class="select is-primary">
                    <select asp-for="MemberId" class ="select is-primary" asp-items="ViewBag.MemberId"></select>
                </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button is-primary is-rounded" style="float: right"  />
            </div>
        </form>
    </div>
</div>

<br/><br/><br/>
<div>
    <a asp-action="Index" class="button is-rounded">Back to List</a>
</div><br/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
