@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="buttons">
        <a id="manage" class="button is-link is-outlined" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        <a id="logoutForm" class="button is-warning" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Main", new { area = "" })">Logout</a>
    </div>
    
}
else
{
    <div class="buttons">
        <a class="button is-light" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        <a class="button is-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
}

