<br/><br/>
<div class="columns is-vcentered">
  <div class="column">
    <h2 class="title is-spaced">About Us</h2>
    <p class="subtitle">We are not just a dance center, this is one of those few places where talents are revealed. And real professional choreographers, prize-winners of republican and international dance championships, young guys, but already with many years of experience in teaching dance, are engaged in revealing your talents here.</p>
    <a class="button is-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a>
  </div>
  <div class="column"><img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/lmveqvoyginxex2wogis/WeDanceStudioK-popDanceClass.jpg" alt=""></div>
</div>

<br/>
<h2 class="title">Our studio</h2>
<div class="columns">
  <div class="column is-9"><a href="#"><img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/rbvr1cnf4u2qrir7xsjw/WeDanceStudioK-popDanceClass.jpg" alt=""></a></div>
  <div class="column is-3">
    <div class="columns is-mobile is-multiline">
      <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/otqopw1vkh7jy8r8imbh/WeDanceStudioK-popDanceClass.jpg" alt=""></a></div>
      <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/bsgwcizqc2hqqul24ccb/WeDanceStudioK-popDanceClass.jpg" alt=""></a></div>
      <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/smbymk4h0ecv6tyce02w/WeDanceStudioK-popDanceClass.jpg" alt=""></a></div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-half">
    <h4 class="title is-spaced is-4">Welcome!</h4>
    <p class="subtitle">Our doors are open to all, here we are always happy to meet new people and new ideas. Visiting our dance center, you will receive unique knowledge and experience for developing your dancing potential, bring your body into excellent shape, learn to understand music and gain confidence in yourself, both in dance and in ordinary life.</p>
  </div>
</div>
<br/>

<div class="container has-text-centered">
  <h2 class="title">Dance directions</h2>
  <p class="subtitle">All types of dance styles are available at our dance studio.</p><br/><br/>
  <div class="columns is-centered is-multiline">
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://i.ytimg.com/vi/lrLfeB1_X6g/maxresdefault.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">Hip-Hop</h5>
    </div>
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://i.ytimg.com/vi/0vBN-MhwhIU/maxresdefault.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">House</h5>
    </div>
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://i.ytimg.com/vi/_JK27pn1Pbs/maxresdefault.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">Popping</h5>
    </div>
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://i.ytimg.com/vi/rUU_TiaqWME/maxresdefault.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">Break Dance</h5>
    </div>
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://i.ytimg.com/vi/z-plXrkvhTg/maxresdefault.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">Locking</h5>
    </div>
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://i.ytimg.com/vi/wOk68RcviHU/maxresdefault.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">Krump</h5>
    </div>
    <div class="column is-3">
      <div class="level">
        <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="https://media-cdn.tripadvisor.com/media/photo-s/08/af/44/93/bella-diva-dance.jpg" alt=""></figure></div>
      </div>
      <h5 class="title is-5">Diva Dance</h5>
    </div>
  </div>
</div>

<br/><br/><br/>

<h2 class="title has-text-centered">Contact a Dance Sstudio</h2><br/>
<div class="columns">
  <div class="column is-6">
    <h4 class="title is-spaced is-4">Let's talk about future collaboration</h4>
    <p class="subtitle">We're here to answer your questions.</p>
    <div>
      <div class="media">
        <div class="media-left"><figure class="image is-24x24"><img src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/9478791231582004484-512.png" alt=""></figure></div>
        <div class="media-content">
          <div class="content">
            <p>Kazakhstan, Almaty</p>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left"><figure class="image is-24x24"><img src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/1881985441543238910-512.png" alt=""></figure></div>
        <div class="media-content">
          <div class="content">
            <p>555-333-555</p>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left"><figure class="image is-24x24"><img src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/14887640061543238901-512.png" alt=""></figure></div>
        <div class="media-content">
          <div class="content">
            <p>dance@mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-5 is-offset-1">
    <form>
      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Email">
        </div>
      </div>
      <div class="field">
        <div class="control"><textarea class="textarea" rows="5" placeholder="Write something..."></textarea></div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br/><br/>

    
